{% macro _callout(class, heading, content) %}
<div class="c-docs__callout c-docs__callout--{{ class }}">
    <p class="c-docs__callout__heading"><strong>{{ heading }}</strong></p>
    {{ content | markdown }}
</div>
{% endmacro %}

{% macro warning(heading, content) %}
{{ _self._callout('warning', heading, content)}}
{% endmacro %}

{% macro tip(heading, content) %}
{{ _self._callout('tip', heading, content)}}
{% endmacro %}

{% macro note(heading, content) %}
{{ _self._callout('note', heading, content)}}
{% endmacro %}

{% macro future(heading, content) %}
{{ _self._callout('future', heading, content)}}
{% endmacro %}
