{% macro news_article(object, level, summary = false) %}
    {% import  '_includes/gh-avatar.html.twig' as gh %}

    <article class="c-article">
        <header class="mb-3">
            <h{{ level | default('2') }} class="mb-1">
                <a href="{{ url(object) }}">{{ object.title }}</a>
            </h{{ level | default('2') }}>
            <p class="mb-0">
                <span>{{ object.date | date('F d, Y') }}</span>
                &bull;
                <strong>
                    <a href="https://github.com/{{ object.author }}">
                        {{ gh.gh_avatar(object.author, 24) }}
                        {{- object.author -}}
                    </a>
                </strong>
            </p>
        </header>

        <section>
            {% if summary %}
                {{ object.content | summary }}
            {% else %}
                {{ object.content }}
            {% endif %}
        </section>

        <footer>
            <p class="mb-0">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <span class="ml-1">
                    {{ object.category | title }}
                </span>
            </p>
        </footer>
    </article>
{% endmacro %}
