{% macro news_article(object, summary = false) %}
    {% import  '_includes/gh-avatar.html.twig' as gh %}

    <article>
        <header class="mb-3">
            <h2 class="mb-0">
                <a href="{{ url(object) }}">{{ object.title }}</a>
            </h2>
            <small>
                <span>{{ object.date | date('F d, Y') }}</span>
                &bull;
                <a href="https://github.com/{{ object.author }}">
                    {{ gh.gh_avatar(object.author, 24) }}
                    {{ object.author }}
                </a>
            </small>
        </header>

        <div class="c-article__body">
            {% if summary %}
                {{ object.content | summary }}
            {% else %}
                {{ object.content }}
            {% endif %}
        </div>
    </article>
{% endmacro %}
