---
permalink: /news/%year/%title/
collection: posts
---

{% extends '@theme/layouts/container.html.twig' %}
{% import  '_includes/gh-avatar.html.twig' as gh %}

{% block content %}
    <article class="c-article">
        <header class="c-article__header">
            <h2>
                <a href="{{ url(this.permalink) }}">{{ this.title }}</a>
            </h2>
            <div>
                <span>{{ this.date | date('F d, Y') }}</span>
                &bull;
                <a href="https://github.com/{{ this.author }}">
                    {{ gh.gh_avatar(this.author, 24) }}
                    {{ this.author }}
                </a>
            </div>
        </header>

        <div class="c-article__body">
            {{ this.content }}
        </div>
    </article>
{% endblock %}
