<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ this.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url('assets/css/atom-one-dark.css') }}">
        <link rel="stylesheet" href="{{ url('assets/css/main.css') }}">
    </head>

    <body class="u-background-dpurple">
        <div class="container">
            <div class="row c-header">
                <div class="c-header__logo">
                    <img src="{{ url('assets/images/stakx.svg') }}" alt="stakx" class="stakx">
                </div>
                <ul class="c-navigation u-list-inline">
                    <li><a href="{{ url('/') }}">Home</a></li>
                    <li><a href="{{ url(pages.News) }}">News</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li class="c-navigation__linebreak"></li> {# This is how we'll force a line break on mobile devices #}
                    <li><a href="{{ url(collections.docs['Welcome']) }}">Documentation</a></li>
                    <li><a href="https://github.com/stakx-io/stakx">Github</a></li>
                </ul>
            </div>
        </div>

        {% block body %}{% endblock %}

        <footer class="o-page-section">
            <div class="container">
                <p class="text-center">Copyright &copy; {{ 'now' | date('Y') }}</p>
            </div>
        </footer>
    </body>
</html>
